{% extends 'base.html' %}

{% block title %}Search{% endblock title %}

{% block stylecss %}
<style>
    .movieresults{
        display:inline-block;
        padding:10px;
        margin:10px;
    }
    /* 184*273 */
    .imagesearch{
        width:184px;
        height:273px;
    
    }
    b{
        font-size: 20px;
        text-align: center;
    }
    .ram{
        font-size: 40px;
        margin-bottom: 40px;
    }

    .card-body{
        height:90px;
    }

</style>
{% endblock stylecss %}


{% block body %}

<section>
<p class="ram">Showing Results for "{{ search }}"</p>
  {% for x in movieresult %}
    <div class="movieresults">
        <div class="card bg-dark" style="width:min-content">
            <a href="{{ x.movielinkonwebsite }}">
                <img class="card-img-top imagesearch" src="{{ x.image_file}}" loading="lazy" alt="Card image cap">
            </a>
            <div class="card-body">
                <p class="card-text"><b>{{x.name}}</b></p>
            </div>
        </div>


    </div>
    
  {% endfor %}   
<script async="async" data-cfasync="false"
    src="//pl20538208.highcpmrevenuegate.com/8b3826a83c32e13057f76f5618ae1edc/invoke.js"></script>
<div id="container-8b3826a83c32e13057f76f5618ae1edc"></div>
</section>
<script type='text/javascript'
    src='//pl20538382.highcpmrevenuegate.com/af/0a/82/af0a824729cb060e8df25268e40f31bc.js'></script>
{% endblock body %}